.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.ant-menu-overflow {
  display: block !important;
}

.btn_actions {
  margin-bottom: 20px;
  float: right;
}

.avatar {
  margin-right: 10px;
}

.logo {
  margin-right: 20px;
  color: #fff;
}

.logout {
  color: rgb(228, 15, 0);
}

.ant-table-thead {
  text-transform: uppercase;
}
